.n-form-item-blank {
    justify-content: space-evenly;
}

.n-tag {
    cursor: pointer;
    .n-tag__content {
        display: flex;
    }
}

body {
    overflow: hidden;
}

.v-binder-follower-container {
    .v-binder-follower-content {
        max-width: 500px;
    }
}